{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">

    <p>
       This is: Annabel Anthony collections>
        <img src="" />

</div>
<div class=" row"
     <p>We sell all fashion products like clothes and shoes...</p>
    <img src="" />
    </div>

<div class=" row"
     <p>... and many more</p>
    <img src="" />
    </div>

<div class=" row"
     <p></p>
    <img src=" You can check check us out on whatsapp with (phone)" />
    </div>



<div class=" row"
     <p> Also you can check us out on instagram with the username (instagram username)/p>
    <img src="" />
    </div>



{% endblock %}
