{% extends "app/layout.html" %}
{% block content %}

<div class=" row">
    <p>Welcome to the official Binary Globe's page!!!</p>
    <img src="" />

</div>



<div class=" row">
    <p>We are committed to providing for all your computer and software needs...</p>
    <img src="" />
    <div class=" col-md-4"><img src="" /></div>
    <div class=" col-md-4"><img src="" /></div>
    <div class=" col-md-4"><img src="" /></div>

</div>



<div class=" row">
    <p>What are you waiting for? message us at <h2>tbinaryglobe@gmail.com</h2></p>
    <img src="" />

</div>

{% endblock %}